<div>
  <form id="login_form">
    <input required="required" type="text" placeholder="{{ usernamePlaceholder }}" name="username">
    <input required="required" type="password" placeholder="{{ passwordPlaceholder }}" name="password">
    <input type="submit" value="{{ loginButtonText }}">
  </form>
  <a href="/popup/registration.html">{{ registrationLinkText }}</a>
</div>