@import "compass/reset" ;
@import "compass/utilities";
@import "compass/css3";

// colors 
$font-main-color: white;
$col-header-color: #3d4f56;

// width 
$main-width: 1470px;

// все, что касается ссаного стикера-здесь
.sticker {
  bottom:78%;
  right: 25%;
  position: absolute;
  z-index: 1000000;
  width: 200px;
  background:#109926;
  padding-bottom: 25px;
  @include box-sizing(border-box);

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -27px;
    right: 50%;
    margin-right:-13px ;
    border: 14px solid;
    border-color: #109926 transparent transparent transparent;
  }
  i{
    color:white;
  }
}
.slide-down-btn {
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 0;
  &:hover{
  @include box-shadow(0 0 10px white, 0 0 10px inset);
  @include border-radius(15px);
  }
  >i{
    font-size: 16px;
  }
}
.slide-down-btn.slide-up{
 @include transform (rotate(180deg));
}
.control-panel {
  position: absolute;
}
.control-panel.left {
  left: -33px;
}
.control-panel.right {
  right: -33px;
}
.st-btn-wrap{
  cursor: pointer;

}
.st-btn{
  font-size: 18px;
  width: 26px;
  height: 22px;
  background:#109926;
  margin-bottom: 3px;
  font-family: 'times';
  text-align: center;
  color: #fff;
  line-height: 22px;
  @include box-sizing(border-box);
  @include user-select(none);
  &:hover {
    background-color: #88cc93;
  }
  &:active {
    background-color: #003600;
  }
}
.counter {
  overflow: hidden;
  position: absolute;
  width: 26px;
  height: 22px;
  line-height: 24px;
  text-align: center;
  background: #fff;
  top: -25px;
  >p{
    font: 800 14px/22px helvetica, sans-serif;
    color: #20a034;
  }

}
.counter.warning1 {
  background:#efd7d7;
}
.counter.warning2 {
  background:#e5d8a5;
}
.counter.warning3 {
  background:#dcab71;
}
.counter.warning4 {
  background:#dc8071;
}
.counter.warning5 {
  background:#ca3030;
  p{
    color:white;
  }
}

.st-btn.edit {
  //background: #109926 url('../img/promo-nav.png') -50px -80px no-repeat;
}

.st-btn.add-new {
  //background: #109926 url('../img/promo-nav.png') -75px -80px no-repeat;
  display: none;
}

.st-btn.add-to-learning {

}
.st-btn.like-it {
  font-size: 17px;
  display: none;

}

.st-btn.close {
  font-size: 14px;

 // background: #109926 url('../img/promo-nav.png') 0px -80px no-repeat;
 }


.vrashi:hover .st-btn  {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  0% {
    @include transform(rotateY(0deg));
  }

  50% {
    background: #0e761f;
    @include transform(rotateY(180deg));
  }

  100% {
    @include transform(rotateY(360deg));
 }
}

@-webkit-keyframes rotating /* Safari and Chrome */ { 
  0% {
    @include transform(rotateY(0deg));
  }

  50% {
    background: #0e761f;
    @include transform(rotateY(180deg));
  }

  100% {
    @include transform(rotateY(360deg));
 }
}
.sticker-source-wrap {
  display: table; /*фикс для Safari*/
  padding: 3px 0 0 3px;
  font-size: 0;

}
.sticker-source-wrap > div {
  display: inline-block;
  color:white;
  cursor: pointer;
  font-size: 12px;
  margin-right: 2px;
}
.st-source-btn {
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  vertical-align:middle;
  text-shadow: 0 0 0.5px white;
  &:hover {
    background:#88cc93;
  }
  &:active {
    background:#003600;
  }
}
.st-source-btn.ezdict{
  font-size: 13px;
}
.st-source-btn.best {
  line-height: 14px;
  font-size: 14px;
}
.st-source-btn.active {
  background:#003600;
}
.st-translate{
  font: 14px/25px helvetica, sans-serif;
  overflow: hidden;
  color: white;
  font-size: 14px;
  margin: 8px 5px 0 5px;
  padding: 0 5px 5px 0;
  max-height: 30px;
  line-height: 15px;
  @include transition(all 0.5s ease);
  @include box-sizing(border-box);
}
.st-translate.large {
  max-height: 160px;
  //overflow-y: auto;
}
#ezdict-sticker, #best-sticker {
  display: none;
}


// все, что касается ссаного стикера-здесь <END>
